{% for post in site.posts %}
<div class="portfolio-modal modal fade" id="portfolioModal-{{ post.modal-id }}" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-full" role="document">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="modal-body">
                            <h3>{{ post.title }}</h3>
                            {% if post.description %}
                            <p><small>{{ post.description }}</small></p>
                            {% endif %}
                            <ul class="d-flex list-inline item-details justify-content-center">
                                {% if post.client %}
                                <li class="list-inline-item">View:
                                    <strong><a href="{{ post.link }}" target="_blank">{{ post.client }}</a>
                                    </strong>
                                </li>
                                {% endif %}
                                {% if post.project-date %}
                                <li class="list-inline-item">Date:
                                    <strong>{{ post.project-date }}</a>
                                    </strong>
                                </li>
                                {% endif %}
                                {% if post.category %}
                                <li class="list-inline-item">Service:
                                    <strong>{{ post.category }}</a>
                                    </strong>
                                </li>
                                {% endif %}
                            </ul>
                            {% if post.img1 %}
                            <img src="assets/img/portfolio/{{ post.img1 }}" class="img-fluid img-centered" alt="{{ post.alt }}">
                            {% endif %}
                            {% if post.imagefolder %}
                            {% capture ipath %}{{ post.imagefolder }}{% endcapture %}
                            {% for image in site.static_files %}
                            {% if image.path contains ipath %}
                            <img src="{{ site.baseurl }}{{ image.path }}" class="img-fluid img-centered">
                            {% endif %}
                            {% endfor %}
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endfor %}