<section id="casestudies">
    <div class="container-fluid">
        <div class="row justify-content-center">
        <div class="col-12 text-center"><h3 class="mx-0 mt-0 mb-5">Case Studies</h3>  </div>        
            {% assign case_studies_order = site.case_studies | reverse %}
            {% for case_study in case_studies_order %}
            <div class="col-12 col-sm-6 col-lg-5 portfolio-item">
                <a href="#portfolioModal-{{ case_study.modal-id }}" class="portfolio-link" data-toggle="modal">
                    <div class="caption">
                        <div class="caption-content">
                            <i class="fas fa-search-plus fa-3x"></i>
                            <p>{{ case_study.title }}</p>
                            <p><small>{{ case_study.category }}</small></p>
                        </div>
                    </div>
                    <img src="assets/img/portfolio/{{ case_study.img }}" class="img-fluid" alt="{{ case_study.alt }}">
                </a>
                <br>
                <h5>{{ case_study.title }}</h5>
                <p>{{ case_study.category }}</p>
                <p>{{ case_study.description }}</p>

            </div>
            <!-- <div class="col-12 col-sm-6 col-lg-5 portfolio-item">
                <h5>{{ case_study.title }}</h5>
                <p>{{ case_study.category }}</p>
                <p>{{ case_study.description }}</p>
                <a href="#portfolioModal-{{ case_study.modal-id }}" class="btn btn-primary" data-toggle="modal">Read more</a>
            </div> -->
            {% endfor %}
        </div>
    </div>
</section>