
// Color system

$brand-primary:#2c3e50;
$brand-secondary:#ffc340;
$brand-blue:#1fb4cc;



$font-primary:'Karla', sans-serif;
$font-family-base:'Montserrat', sans-serif;

$theme-colors: (
  "brand-blue": $brand-blue
);


// $navbar-light-color:                 $brand-primary !default;
// $navbar-light-hover-color:           rgba($brand-primary, .75) !default;
// $navbar-light-active-color:          $brand-secondary !default;
// $navbar-light-disabled-color:        rgba($brand-primary, .25) !default;

// $navbar-light-toggler-border-color:  rgba($brand-primary, 0) !default;

// $modal-xl:                          95% !default;