
// Color system

$brand-primary:#2c3e50;
$brand-secondary:#2c3e50;

$white:    #fff !default;

$font-primary:'Montserrat', sans-serif;
$font-family-base:'Lato', sans-serif;

$theme-colors: (
    "dark": $brand-secondary,

);
$navbar-dark-color:                 $white !default;
$navbar-dark-hover-color:           rgba($white, .75) !default;
$navbar-dark-active-color:          $white !default;
$navbar-dark-disabled-color:        rgba($white, .25) !default;

$navbar-dark-toggler-border-color:  rgba($white, 0) !default;

// $modal-xl:                          95% !default;